html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: sans-serif;
    font-size: 16px;
}

table {
    width: 100%;
}

table th, table td {
    padding: .75rem 0 ;
}

table th {
    text-align: left;
    border-bottom: 1px solid #ccc;;
    padding-top: 1.5rem;
}

.app {
    padding: 1rem;
    max-width: 40rem;
    margin: 0 auto;
}

.app .header {
    display: flex;
    align-items: flex-end;
    margin: 2rem 0;
    padding: 0 0 .5em;
    border-bottom: 1px solid #ddd;
}

.app .header h1 {
    flex: 1 1 auto;
    font-size: 175%;
    margin: 0 1em 0 0;
}

.help {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    background: #555;
    color: white;
    padding: .5em .75em;
    border-radius: 2px;
}
.help:hover {
    background: #777;
}

.formula {
    width: 50%;
    padding-right: 1em;
}

.state {
    width: 1%;
    white-space: nowrap;
    padding-left: 0;
    padding-right: 0;
    line-height: 1;
    font-family: monospace;
}
.state input[type=checkbox] {
    display: none;
}

.state input[type=checkbox] + label {
    display: inline-block;
    content: "";
    width: .8em;
    height: .8em;
    border-radius: 100%;
    border: 2px solid black;
    margin-right: .2em;
    cursor: pointer;
}
.state input[type=checkbox]:checked + label {
    background: black;
}
.state input[type=checkbox]:disabled + label {
    cursor: not-allowed;
}

.state:after {
    display: inline;
    content: "\279D";
    font-size: 125%;
    color: black;
}
.trace-visualizer tr :nth-last-child(2):after {
    content: "";
}

.actions {
    padding-left: 1em;
    width: 1%;
}

button, input {
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 2px;
    padding: .25em .75em;
}

.new-formula {
    display: block;
    width: 100%;
    font-family: monospace;
    font-size: 100%;
    margin-top: 1em;
}
.help-message {
    color: #666;
}
.help-message a {
    color: inherit;
}
.error-message {
    color: red;
}

code .operator {
    font-weight: bold;
}
code .literal {
    color: darkcyan;
}
code .atomic {
    font-style: italic;
    color: darkorchid;
}